{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}Base Page{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/default.css' %}">

	<script src='{% static 'assets/js/jquery-2.0.0.min.js' %}'></script>
	<script src='{% static 'assets/js/ajax.js' %}'></script>
</head>
<body>
	<div dir="page">
		<div id="sidebar">
			{% block sidebar %}
				<ul>
					<li><a href="/articles/all">Articles</a></li>
					<li><a href="/articles/create">Create Article</a></li>
					<li><a href="/admin">Admin</a></li>
					<li><a href="/accounts/login">Login</a></li>
					<li><a href="/accounts/register">Registrate</a></li>
					<li><a href="/contacts">Contacting</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
			<img src="{% static "assets/img/pythonico.png"%}">
			<div>
				API:
				<a href="/articles/api/article/?format=xml">Xml :</a>
				<a href="/articles/api/article/?format=json"> Json</a>
				<p>Add : <b>&amp;title_contains={string_name}</b> to filter</p>
			</div>
		</div>
	</div>
</body>
</html>