{%extends "base.html"%}

{%block sidebar%}
<ul>
	<li><a href="/articles/all">Cancel</a></li>
	<li><a href="/accounts/register">Registrate</a></li>
</ul>
{%endblock%}

{% block content %}
	{% if forn.errors %}
		<p class="error">Sorry invalid login or password</p>
	{% endif %}
	<form action="/accounts/auth/" method="post">{% csrf_token %}
		<label for="username">Username:</label>
		<input type="text" name="username" value="" id="username">
		<label for="passwor">Password:</label>
		<input type="text" name="password" value="" id="password">

		<input type="submit" value="login"/>
	</form>
{% endblock %}