{% extends "base.html" %}

{% block content %}
	<h1>Registrate</h1>
	<form action="/accounts/register/" method="post">{% csrf_token %}
	<table>{{form.as_table}}</table>
		<input type="submit" value="Register" />
	</form>
{% endblock %}