body{
	margin: 10px auto;
	width: 900px;
}
div a {
	text-decoration: none;
	color: #004182;
	display:inline-block;
}

hr {
	margin: 5px auto;
}
.post-title {
	margin-top: 25px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
#page{
	text-align: left;
	background-color: #353535;
}

#sidebar{
	float: left;
	width: 150px;
}

#content{
	float: left;
	width: 600px;
	padding: 10px;
}

img{
	display: block;
	margin: 20px auto;
}
.likes{
	margin: 0 0;
	width: 75px;
	height: 20px;
	font-size: 18px;
	font-weight: normal;
	border-radius: 10%;
	text-align:center;
	text-decoration: none;
	color: #000000
}
.likes:hover{
	transition: all 0.25s linear;
	cursor: pointer;
	background: #E4E4DC;
}
ul{
	list-style-type:none;
}
.comment{
	border: 1px dotted #bbbbbb;
	border-radius: 1%;
	display: block;
	padding: 0 10px;
	margin: 5px 25px;
	background-color: beige;
}
#comment_name{
	margin-bottom: 5px;
	
}
#comment_body{
	margin-top: 5px;
	margin-left: 35px;	
}