{% extends 'base.html' %}
{% load static %}

{%block title%}Article {{article.id}}{%endblock%}

{%block sidebar%}
<ul>
	<li><a href="/articles/all">Articles</a></li>
</ul>
{%endblock%}

{%block content%}
<div>
	<div class="post-title">{{ article.title }}</div>
	{% if article.thumbnail %}
		<img src="{% get_static_prefix %}{{article.get_thumbnail}}" height="100"/>
	{% endif %}
	<p>{{ article.body }}</p>
	<a href="/articles/like/{{ article.id }}" class="likes">{{article.likes}} likes</a>
</div>

<div class="post-title">Commens :<a href="/articles/add_comment/{{article.id}}"> add new</a></div>
{% for c in article.comment_set.all %}
<div class="comment">
	<p id="comment_name">{{c.name}}: </p>
	<p id="comment_body">{{c.body}} </p>
</div>
{% endfor %}
{%endblock%}