{%extends 'base.html'%}
{% load article_tags %}

{% block title %}
	Articles
{% endblock %}

{%block sidebar%}
<ul>
	<li><a href="/articles/all">Articles</a></li>
	<li><a href="/articles/create">Create Article</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/accounts/login">Login</a></li>
	<li><a href="/contacts">Contacting</a></li>		
</ul>
<h3>Search</h3>
{% csrf_token %}

<input type="text" id="search" name="search"/>
<ul id="search-results">
	
</ul>
{%endblock%}

{% block content %}
Language is : {{language}}
Session lang : {{session_language}}
	{% for article in articles %}
		<div>
			<div class="post-title"><a href="/articles/get/{{ article.id }}">{{ article.title }}</a><a href="" class="likes">{{article.likes}} likes</a></div>
			<p>{{ article.body|lower|article_shorten_body:180 }}</p>
			<hr>
		</div>
	{% endfor %}
{% endblock %}