{% extends "base.html" %}

{%block sidebar%}
<ul>
	<li><a href="/articles/all">Articles</a></li>
</ul>
{%endblock%}

{% block content %}
	<form action="/articles/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<ul>
			{{form.as_ul}}
		</ul>
		<input type="submit" name="submit" value="Create Article" />
	</form>
{% endblock %}