{% extends 'base.html' %}

{% block content %}
	<h2>Profile</h2>
	{% for feild in forms%}
		{{field.error}}
	{% endfor %}

	<form action='/accounts/profile/' method='post'>{% csrf_token %}
		{{form.as_ul}}
		<input type='submit' value='Update' >
	</form>
{% endblock %}
